
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="../static/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet" /></head>
		<title>PLACEHOLDER</title>
	</head>
	<div id="rectangle" ></div>
	<body>
      <div class="v14_48"><div class="v29_7"></div>
      <div class="v14_53"></div>
      <div class="name"></div>
      <span class="v14_55">Edit Prefernces </span>
      <span class="v14_56">Political</span>
    <span class="v14_57">Focus</span>
    <div class="v14_58"></div>
		<p>
			poggerschampion
		</p>
	</body>
</html>
