
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="../static/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet" /></head>
		<title>PLACEHOLDER</title>
	</head>
	<div id="rectangle" ></div>
	<body>
      <div class=".nav_bar_text"><div class=".nav_bar_text"></div>
      <div class=".nav_bar_text"></div>
      <div class=".nav_bar_text"></div>
      <span class=".nav_bar_text">Edit Prefernces </span>
      <span class=".nav_bar_text">Political</span>
    <span class=".nav_bar_text">Focus</span>
    <div class=".nav_bar_text"></div>
		<p>
			poggers	
		</p>
	</body>
</html>
