
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="../static/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet" />
		<title>PLACEHOLDER</title>
	</head>
	<div id="rectangle"></div>
	<img class="globe_image" src="res/Globe.png" alt="Under-Reported Globe News">
	<img class="magnifying_glass" src="res/search.png" alt="magnifying-glass">
	<span class="nav_bar_focus">Focus </span>
	<span class="nav_bar_politics">Political</span>
	<span class="nav_bar_edit">Edit Preferences </span>
	<div class="info_container_1"> Welcome Rosa Bob </div>
	<div class="info_container_2"></div>
	<div class="info_container_3"></div>
	<div class="info_container_4"></div>
	<div class="info_container_5"></div>
	<div class="info_container_6"></div>
	<div class="info_container_7"></div>
	<div class="info_container_9"></div>
	<div id="bar" ></div>
	<body>
	</body>
</html>
