
@font-face {
	font-family: Space;
	src: url(fonts/SpaceMono-Bold.ttf);
}

#rectangle {
	position: absolute;
	width: 527px;
	height: 0px;
	left: 1700px;
	top: 128px;
	border: 3px solid #000000;
	transform: rotate(-180deg);
}

body {
	border: none;
	margin: 50px;
	padding: 10%;
	background-color: white;
} 

/* Paragraph. */

p {
	color: #02f4ac;
	font-size: 40;
	font-family: Space;
}

.navbar {
	color: black;
	font-size: 28px;
	font-family: Space;
	font-weight: 100;
}

.main-text {
	color: #fcfcfc;
}

.nav_bar_text {
	font-family: Space;
	font-weight: bold;
	position: top;
}